@import 'src/assets/theme/general';

.btn-main {
    height: 90px;
    width: 150px;
    font-weight: 700;
}

.main-table {
    border-collapse: collapse;
}

.border-radius thead {
    border-top-left-radius: $borderRadius;
    border-top-right-radius: $borderRadius;
}

.border-radius tbody {
    border-bottom-left-radius: $borderRadius;
    border-bottom-right-radius: $borderRadius;
}

.main-table tbody tr:nth-child(odd) {
    background: color-mix(in srgb, $dehnRed 10%, white);
}

.btn-icon:hover {
    color: $dehnRed;
}

.p-1px {
    padding: 1px;
}

table.border-none tr:last-child td {
    border: none;
}