<div *ngIf="displayDialog" class="overlay">
    <div class="dialog absolute bg-white border-radius">
        <div class="header background-red-dehn p-2">
            <h1 class="text-2xl text-white font-bold text-center w-full">ADD TASK</h1>
        </div>

        <div class="content">
            <!-- Task data form -->
            <app-add-update-form #addForm (formChange)="form = addForm.form">
            </app-add-update-form>

            <!-- Cancel and Add buttons -->
            <div class="flex justify-end px-4 pb-4 gap-3">
                <button class="btn-secondary border-radius border-2 border-gray-300 px-2"
                    (click)="onCancelClick()">Cancel
                </button>
                <button class="btn-main background-red-dehn text-white border-radius px-2" [disabled]="form.invalid"
                    [class.disabled]="form.invalid" (click)="onConfirmClick()">Add
                </button>
            </div>
        </div>
    </div>
<div>