@import 'src/assets/theme/general';
@tailwind base;
@tailwind components;
@tailwind utilities;

.background-red-dehn {
    background-color: $dehnRed;
}

.text-white {
    color: $textColor;
}

.border-radius {
    border-radius: $borderRadius;
}

.btn-main:hover:not(.disabled) {
    background: color-mix(in srgb, $dehnRed 60%, white);
}